# Experiment: evaluate adversary against several KataGo checkpoints
# Command:
#     /home/tony/go_attack/kubernetes/launch-match.sh --gpus 1 \
#     --games 500 tony-victims-0-to-0 -- -config /go_attack/configs/generated_evaluations/katago_ckpt_sweep_evaluation/adversary.cfg -config /go_attack/configs/generated_evaluations/katago_ckpt_sweep_evaluation/victims-0-to-0.cfg
numGamesTotal = 500
numBots = 2
secondaryBots = 1

nnModelFile1 = /shared/katago-networks/kata1-b60c320-s7701878528-d3323518127.bin.gz
botName1 = b60c320-s7701878528-d3323518127-v1
maxVisits1 = 1
searchAlgorithm1 = MCTS
