# Experiment: evaluate adversary against several KataGo checkpoints
# Command:
#     /home/tony/go_attack/kubernetes/launch-match.sh --gpus 1 \
#     --games 300 tony-victims-54-to-59 -- -config /go_attack/configs/generated_evaluations/katago_ckpt_sweep_evaluation/adversary.cfg -config /go_attack/configs/generated_evaluations/katago_ckpt_sweep_evaluation/victims-54-to-59.cfg
numGamesTotal = 300
numBots = 7
secondaryBots = 1,2,3,4,5,6

nnModelFile1 = /nas/ucb/tony/go-attack/katago-networks/kata1-b40c256-s12604774912-d3126339815.bin.gz
botName1 = b40c256-s12604774912-d3126339815
maxVisits1 = 200
searchAlgorithm1 = MCTS

nnModelFile2 = /nas/ucb/tony/go-attack/katago-networks/kata1-b60c320-s6997549568-d3127123425.bin.gz
botName2 = b60c320-s6997549568-d3127123425
maxVisits2 = 200
searchAlgorithm2 = MCTS

nnModelFile3 = /nas/ucb/tony/go-attack/katago-networks/kata1-b60c320-s7010139136-d3130207575.bin.gz
botName3 = b60c320-s7010139136-d3130207575
maxVisits3 = 200
searchAlgorithm3 = MCTS

nnModelFile4 = /nas/ucb/tony/go-attack/katago-networks/kata1-b60c320-s7022594048-d3133696060.bin.gz
botName4 = b60c320-s7022594048-d3133696060
maxVisits4 = 200
searchAlgorithm4 = MCTS

nnModelFile5 = /nas/ucb/tony/go-attack/katago-networks/kata1-b60c320-s7035181568-d3137113165.bin.gz
botName5 = b60c320-s7035181568-d3137113165
maxVisits5 = 200
searchAlgorithm5 = MCTS

nnModelFile6 = /nas/ucb/tony/go-attack/katago-networks/kata1-b60c320-s7047906048-d3140270330.bin.gz
botName6 = b60c320-s7047906048-d3140270330
maxVisits6 = 200
searchAlgorithm6 = MCTS
