# Experiment: evaluate adversary against several KataGo checkpoints
# Command:
#     /home/tony/go_attack/kubernetes/launch-match.sh --gpus 1 \
#     --games 400 tony-victims-8-to-15 -- -config /go_attack/configs/generated_evaluations/katago_ckpt_sweep_evaluation/adversary.cfg -config /go_attack/configs/generated_evaluations/katago_ckpt_sweep_evaluation/victims-8-to-15.cfg
numGamesTotal = 400
numBots = 9
secondaryBots = 1,2,3,4,5,6,7,8

nnModelFile1 = /nas/ucb/tony/go-attack/katago-networks/kata1-b60c320-s6270697728-d2938451939.bin.gz
botName1 = b60c320-s6270697728-d2938451939
maxVisits1 = 1
searchAlgorithm1 = MCTS

nnModelFile2 = /nas/ucb/tony/go-attack/katago-networks/kata1-b60c320-s6296215552-d2944999997.bin.gz
botName2 = b60c320-s6296215552-d2944999997
maxVisits2 = 1
searchAlgorithm2 = MCTS

nnModelFile3 = /nas/ucb/tony/go-attack/katago-networks/kata1-b40c256-s12012407552-d2946075930.bin.gz
botName3 = b40c256-s12012407552-d2946075930
maxVisits3 = 1
searchAlgorithm3 = MCTS

nnModelFile4 = /nas/ucb/tony/go-attack/katago-networks/kata1-b60c320-s6321537280-d2951683615.bin.gz
botName4 = b60c320-s6321537280-d2951683615
maxVisits4 = 1
searchAlgorithm4 = MCTS

nnModelFile5 = /nas/ucb/tony/go-attack/katago-networks/kata1-b60c320-s6347128576-d2958099273.bin.gz
botName5 = b60c320-s6347128576-d2958099273
maxVisits5 = 1
searchAlgorithm5 = MCTS

nnModelFile6 = /nas/ucb/tony/go-attack/katago-networks/kata1-b60c320-s6372316160-d2964581281.bin.gz
botName6 = b60c320-s6372316160-d2964581281
maxVisits6 = 1
searchAlgorithm6 = MCTS

nnModelFile7 = /nas/ucb/tony/go-attack/katago-networks/kata1-b60c320-s6397978112-d2971138356.bin.gz
botName7 = b60c320-s6397978112-d2971138356
maxVisits7 = 1
searchAlgorithm7 = MCTS

nnModelFile8 = /nas/ucb/tony/go-attack/katago-networks/kata1-b60c320-s6423497472-d2977920515.bin.gz
botName8 = b60c320-s6423497472-d2977920515
maxVisits8 = 1
searchAlgorithm8 = MCTS
