.git
.gitignore
.ssh
.vscode

# Python virtualenv
venv

# Ignore folders containing logs and data
analysis_logs
analysis_tmp
games
core
models
gtp_logs
match_logs
match_sgfs
selfplay-training
victimplay-training

# Ignore certain scripts
scripts/download.sh
scripts/upload_to.sh

# For C++
*.[oa]
*.exe
*~
**/__pycache__
*.h5
*.log
*.cbp
*.DS_Store

tmp*.txt

# Ignore stuff in engines/KataGo*/
engines/KataGo*/cpp/write
engines/KataGo*/cpp/runtests
engines/KataGo*/cpp/example
engines/KataGo*/cpp/gtp
engines/KataGo*/cpp/gtp.log
engines/KataGo*/cpp/match
engines/KataGo*/cpp/matchcuda
engines/KataGo*/cpp/matchtensorflow
engines/KataGo*/cpp/match.log
engines/KataGo*/cpp/main
engines/KataGo*/cpp/maincuda
engines/KataGo*/cpp/mainopencl
engines/KataGo*/cpp/katago
engines/KataGo*/cpp/configs
engines/KataGo*/cpp/evalsgf
engines/KataGo*/cpp/runmatch.sh
engines/KataGo*/cpp/runmatchauto.sh
engines/KataGo*/cpp/runstuff.sh
engines/KataGo*/cpp/runwrite.sh
engines/KataGo*/cpp/external/httplib/cpp-httplib/
engines/KataGo*/cpp/external/nlohmann_json/nlohmann_json
engines/KataGo*/cpp/program/gitinfo.h
engines/KataGo*/cpp/build
engines/KataGo*/cpp/tmp

# For clion IDE
engines/*/.idea

# For cmake
engines/KataGo*/cpp/CMakeCache.txt
engines/KataGo*/cpp/CMakeFiles
engines/KataGo*/cpp/Makefile
engines/KataGo*/cpp/cmake_install.cmake
engines/KataGo*/cpp/GPATH
engines/KataGo*/cpp/GRTAGS
engines/KataGo*/cpp/GTAGS

# Ignore stuff in GoGUI
controllers/gogui-1.5.1/build
controllers/gogui-1.5.1/lib
controllers/gogui-1.5.1/TAGS
controllers/gogui-1.5.1/.settings
controllers/gogui-1.5.1/.*.swp
controllers/gogui-1.5.1/gogui*.exe
