[submodule "controllers/gogui"]
	path = controllers/gogui
	url = https://github.com/AlignmentResearch/gogui.git
[submodule "engines/KataGo-custom"]
	path = engines/KataGo-custom
	url = https://github.com/AlignmentResearch/KataGo-custom.git
[submodule "engines/KataGo-raw"]
	path = engines/KataGo-raw
	url = https://github.com/lightvector/KataGo.git
[submodule "engines/KataGo-tensorflow"]
	path = engines/KataGo-tensorflow
	url = https://github.com/AlignmentResearch/KataGo-custom.git
