[submodule "controllers/gogui"]
	path = controllers/gogui
	url = git@github.com:AlignmentResearch/gogui.git
[submodule "engines/KataGo-custom"]
	path = engines/KataGo-custom
	url = git@github.com:AlignmentResearch/KataGo-custom.git
[submodule "engines/KataGo-raw"]
	path = engines/KataGo-raw
	url = git@github.com:lightvector/KataGo.git
