# How the game is scored.
# We use Tromp-Taylor rules for their simplicity.
# See https://lightvector.github.io/KataGo/rules.html

# Used by match and victimplay.
koRules = POSITIONAL
scoringRules = AREA
taxRules = NONE
multiStoneSuicideLegals = true
hasButtons = false

# Used by gtp.
koRule = POSITIONAL
scoringRule = AREA
taxRule = NONE
multiStoneSuicideLegal = true
hasButton = false
