# EMCTS1 specific settings------------------------------------------------------------------------
# These are settings that we added on top of the regular selfplay settings.

numBots = 2

botName0 = "victim"
maxVisits0 = 1
searchAlgorithm0 = MCTS

botName1 = "adversary"
maxVisits1 = 200
searchAlgorithm1 = EMCTS1