# Experiment: evaluate AMCTS-S++ adversary vs. victim with varying victim visits
# Command:
#     /home/ttseng/go_attack/kubernetes/launch-match.sh --gpus 4 \
#     --games 2250 ttseng-victim-v-sweep-amcts-sxx -- -config /go_attack/configs/generated_evaluations/victim-visit-sweep-AMCTS-S++.cfg
logSearchInfo = false
numGamesTotal = 2250

numBots = 16
secondaryBots = 0,1,2,3,4,5,6,7,8,9,10,11,12,13,14

nnModelFile0 = /shared/victims/kata1-b40c256-s11840935168-d2898845681.bin.gz
botName0 = cp505h-v1
maxVisits0 = 1
searchAlgorithm0 = MCTS
passingBehavior0 = avoid-pass-alive-territory

nnModelFile1 = /shared/victims/kata1-b40c256-s11840935168-d2898845681.bin.gz
botName1 = cp505h-v2
maxVisits1 = 2
searchAlgorithm1 = MCTS
passingBehavior1 = avoid-pass-alive-territory

nnModelFile2 = /shared/victims/kata1-b40c256-s11840935168-d2898845681.bin.gz
botName2 = cp505h-v4
maxVisits2 = 4
searchAlgorithm2 = MCTS
passingBehavior2 = avoid-pass-alive-territory

nnModelFile3 = /shared/victims/kata1-b40c256-s11840935168-d2898845681.bin.gz
botName3 = cp505h-v8
maxVisits3 = 8
searchAlgorithm3 = MCTS
passingBehavior3 = avoid-pass-alive-territory

nnModelFile4 = /shared/victims/kata1-b40c256-s11840935168-d2898845681.bin.gz
botName4 = cp505h-v16
maxVisits4 = 16
searchAlgorithm4 = MCTS
passingBehavior4 = avoid-pass-alive-territory

nnModelFile5 = /shared/victims/kata1-b40c256-s11840935168-d2898845681.bin.gz
botName5 = cp505h-v32
maxVisits5 = 32
searchAlgorithm5 = MCTS
passingBehavior5 = avoid-pass-alive-territory

nnModelFile6 = /shared/victims/kata1-b40c256-s11840935168-d2898845681.bin.gz
botName6 = cp505h-v64
maxVisits6 = 64
searchAlgorithm6 = MCTS
passingBehavior6 = avoid-pass-alive-territory

nnModelFile7 = /shared/victims/kata1-b40c256-s11840935168-d2898845681.bin.gz
botName7 = cp505h-v128
maxVisits7 = 128
searchAlgorithm7 = MCTS
passingBehavior7 = avoid-pass-alive-territory

nnModelFile8 = /shared/victims/kata1-b40c256-s11840935168-d2898845681.bin.gz
botName8 = cp505h-v256
maxVisits8 = 256
searchAlgorithm8 = MCTS
passingBehavior8 = avoid-pass-alive-territory

nnModelFile9 = /shared/victims/kata1-b40c256-s11840935168-d2898845681.bin.gz
botName9 = cp505h-v512
maxVisits9 = 512
searchAlgorithm9 = MCTS
passingBehavior9 = avoid-pass-alive-territory

nnModelFile10 = /shared/victims/kata1-b40c256-s11840935168-d2898845681.bin.gz
botName10 = cp505h-v1024
maxVisits10 = 1024
searchAlgorithm10 = MCTS
passingBehavior10 = avoid-pass-alive-territory

nnModelFile11 = /shared/victims/kata1-b40c256-s11840935168-d2898845681.bin.gz
botName11 = cp505h-v2048
maxVisits11 = 2048
searchAlgorithm11 = MCTS
passingBehavior11 = avoid-pass-alive-territory

nnModelFile12 = /shared/victims/kata1-b40c256-s11840935168-d2898845681.bin.gz
botName12 = cp505h-v4096
maxVisits12 = 4096
searchAlgorithm12 = MCTS
passingBehavior12 = avoid-pass-alive-territory

nnModelFile13 = /shared/victims/kata1-b40c256-s11840935168-d2898845681.bin.gz
botName13 = cp505h-v8192
maxVisits13 = 8192
searchAlgorithm13 = MCTS
passingBehavior13 = avoid-pass-alive-territory

nnModelFile14 = /shared/victims/kata1-b40c256-s11840935168-d2898845681.bin.gz
botName14 = cp505h-v16384
maxVisits14 = 16384
searchAlgorithm14 = MCTS
passingBehavior14 = avoid-pass-alive-territory

secondaryBots2 = 15

nnModelFile15 = /shared/victimplay/ttseng-avoid-pass-alive-coldstart-39-20221025-175949/models/t0-s497721856-d125043118/model.bin.gz
botName15 = adv-s497721856-v200-AMCTS-S++
maxVisits15 = 200
searchAlgorithm15 = AMCTS-S++
