@include compute/1gpu.cfg

# We're not really interested in detailed logging when running with GTP
logSearchInfo = false
logAllGTPCommunication = false

# Remove unnecessary non-determinism
numSearchThreads = 1

# For compatibility with other engines, we need to set multiStoneSuicideLegal, which
# means we also need to set the other rules instead of relying on rules = tromp-taylor
koRule = POSITIONAL
scoringRule = AREA
multiStoneSuicideLegal = true

allowResignation = true
resignConsecTurns = 3
resignThreshold = -0.90

# The below parameters are copied from gtp_example.cfg; we need to copy instead of @include because
# it's currently impossible to override "rules = tromp-taylor" once it's set in an included file.
lagBuffer = 1.0
maxTimePondering = 60
ponderingEnabled = false
# These parameters are part of gtp_example.cfg to weaken the bot for
# friendliness, but we're commenting them out since friendliness tends to help
# our adversary.
# searchFactorAfterOnePass = 0.50
# searchFactorAfterTwoPass = 0.25
# searchFactorWhenWinning = 0.40
# searchFactorWhenWinningThreshold = 0.95
