@include compute/1gpu.cfg
@include gtp-base.cfg

# Over in amcts/base.cfg we use the convention that the player at index 0
# is the victim and the player at index 1 is the adversary. Here we use the
# reverse convention. TODO: should we change this?
numBots = 2

maxVisits0 = 600
searchAlgorithm0 = AMCTS

maxVisits1 = 32
searchAlgorithm1 = MCTS

# This is set to 6 in the original gtp_example.cfg but A-MCTS only supports numSearchThreads = 1
numSearchThreads = 1
