# NOT MEANT TO BE USED DIRECTLY - include a compute/*.cfg file in addition to this one
@include emcts1/base.cfg

# Haven't fully audited this codepath yet.
# We turn off this feature to make the experiment more controlled.
useAuxPolicyTarget = true
maxVisits0 = 32 # victim
# Uncomment this for pass-hardening
# passingBehavior0 = avoid-pass-alive-territory

# Bots-------------------------------------------------------------------------------------
# For multiple bots, you can specify their names as botName0,botName1, etc.
# If the bots are using different models, specify nnModelFile0, nnModelFile1, etc.

numBots = 2
# The order of the victim & adversary is important- see base.cfg for details.
botName0 = victim
botName1 = adversary

# Match-specific parameters---------------------------------------------------------------
allowResignation = false
resignConsecTurns = 3
resignThreshold = -0.95

drawRandRadius = 0.0
noResultStdev = 0.0