numGamesTotal=504
numBots=7

numGameThreads = 256
nnMaxBatchSize = 256

nnModelFile0 = /shared/victimplay/ttseng-cyclic-r7-20231219/models/t0-s372472576-d825643292/model.bin.gz
botName0 = cyclic-r7-s372m-v600
maxVisits0 = 600
searchAlgorithm0 = AMCTS
useGraphSearch0 = false

nnModelFile1 = /shared/victims/kata1-b40c256-s11840935168-d2898845681.bin.gz
botName1 = cp505-v300
maxVisits1 = 300
searchAlgorithm1 = MCTS
useGraphSearch1 = true
# Default utility params from setup.cpp:
# winLossUtilityFactor = 1.0
# staticScoreUtilityFactor = 0.10
# dynamicScoreUtilityFactor = 0.30
# dynamicScoreCenterZeroWeight = 0.20
# dynamicScoreCenterScale = 0.75
# noResultUtilityForWhite = 0.0
# drawEquivalentWinsForWhite = 0.5
#
# These are different from the values for selfplay/victimplay:
# winLossUtilityFactor = 1.0
# staticScoreUtilityFactor = 0.00
# dynamicScoreUtilityFactor = 0.40
# dynamicScoreCenterZeroWeight = 0.25
# dynamicScoreCenterScale = 0.50
# noResultUtilityForWhite = 0.0
# drawEquivalentWinsForWhite = 0.5

nnModelFile2 = /shared/victims/kata1-b40c256-s11840935168-d2898845681.bin.gz
botName2 = cp505-winopt-v300
maxVisits2 = 300
searchAlgorithm2 = MCTS
useGraphSearch2 = true
# Optimize for win rate
winLossUtilityFactor2 = 1.0
staticScoreUtilityFactor2 = 0.00
dynamicScoreUtilityFactor2 = 0.00

nnModelFile3 = /shared/victims/kata1-b40c256-s11840935168-d2898845681.bin.gz
botName3 = cp505-scoreopt-v300
maxVisits3 = 300
searchAlgorithm3 = MCTS
useGraphSearch3 = true
# Optimize for score
winLossUtilityFactor3 = 0.0
staticScoreUtilityFactor3 = 1.00
dynamicScoreUtilityFactor3 = 0.00

nnModelFile4 = /shared/victimplay/ttseng-cp505-h7-20231218/iteration-0/models/t0-s13333248-d93202834/model.bin.gz
botName4 = h7-v300
maxVisits4 = 300
searchAlgorithm4 = MCTS
useGraphSearch4 = true

nnModelFile5 = /shared/victimplay/ttseng-cp505-h7-20231218/iteration-0/models/t0-s13333248-d93202834/model.bin.gz
botName5 = h7-winopt-v300
maxVisits5 = 300
searchAlgorithm5 = MCTS
useGraphSearch5 = true
# Optimize for win rate
winLossUtilityFactor5 = 1.0
staticScoreUtilityFactor5 = 0.00
dynamicScoreUtilityFactor5 = 0.00

nnModelFile6 = /shared/victimplay/ttseng-cp505-h7-20231218/iteration-0/models/t0-s13333248-d93202834/model.bin.gz
botName6 = h7-scoreopt-v300
maxVisits6 = 300
searchAlgorithm6 = MCTS
useGraphSearch6 = true
# Optimize for score
winLossUtilityFactor6 = 0.0
staticScoreUtilityFactor6 = 1.00
dynamicScoreUtilityFactor6 = 0.00
