@include ../gtp-base.cfg

maxVisits = 1

# Set logSearchInfo to true for debugging!
# Setting to true will break playing over ssh however!
# Can probably be fixed by https://unix.stackexchange.com/a/653432/466333
# but this is is a big pain.
logSearchInfo = false
