# Experiment: evaluate victim against several adversaries (1 per gpu)
# Command:
#     /home/twang/go_attack/kubernetes/launch-match.sh --gpus 1 \
#     --games 50 twang-adv-5 -- -config /go_attack/configs/generated_evaluations/ft_training_checkpoint_sweep/victims.cfg -config /go_attack/configs/generated_evaluations/ft_training_checkpoint_sweep/adv-5.cfg
numGamesTotal = 50
numBots = 2
secondaryBots2 = 1

nnModelFile1 = /shared/victimplay/ttseng-cyclic-vs-cp564-20230213-154321/models/t0-s20922624-d5762840/model.bin.gz
botName1 = adv-os20922624-cs20922624
maxVisits1 = 600
searchAlgorithm1 = AMCTS-S
