# Experiment: evaluate victim against several adversaries (1 per gpu)
# Command:
#     /home/twang/go_attack/kubernetes/launch-match.sh --gpus 1 \
#     --games 50 twang-adv-2 -- -config /go_attack/configs/generated_evaluations/ft_training_checkpoint_sweep/victims.cfg -config /go_attack/configs/generated_evaluations/ft_training_checkpoint_sweep/adv-2.cfg
numGamesTotal = 50
numBots = 2
secondaryBots2 = 1

nnModelFile1 = /shared/victimplay/ttseng-cyclic-vs-cp564-20230213-154321/models/t0-s8558080-d2503426/model.bin.gz
botName1 = adv-os8558080-cs8558080
maxVisits1 = 600
searchAlgorithm1 = AMCTS-S
