# Experiment: evaluate victim against several adversaries (1 per gpu)
# Command:
#     /home/twang/go_attack/kubernetes/launch-match.sh --gpus 1 \
#     --games 50 twang-adv-9 -- -config /go_attack/configs/generated_evaluations/ft_training_checkpoint_sweep/victims.cfg -config /go_attack/configs/generated_evaluations/ft_training_checkpoint_sweep/adv-9.cfg
numGamesTotal = 50
numBots = 2
secondaryBots2 = 1

nnModelFile1 = /shared/victimplay/tony-cyc-adv-ft-vs-b60-s7702m-20230518-185923/models/t0-s14286592-d3562222/model.bin.gz
botName1 = adv-os14286592-cs37174272
maxVisits1 = 600
searchAlgorithm1 = AMCTS-S
